@import './reset.scss';
@import './fonts.scss';

$transition: cubic-bezier(0.075, 0.82, 0.165, 1) .5s;

.header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #000;
    height: 100px;
    z-index: 10;

    &__title {
        color: #fff;
        text-transform: uppercase;
        font-family: 'Roboto';
        font-size: 2rem;
        font-weight: 700;
    }

    &__searchbar {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #262626;
        border-radius: .5rem;
        width: 35%;

        & .searchbar__input {
            position: relative;
            width: 100%;
            padding: 1.2rem;
            border: none;
            outline: none;
            font-family: 'Roboto';
            font-weight: 300;
            font-size: 1.5rem;
            color: #505050;
            background-color: transparent;
        }

        & .searchbar__icon {
            margin-left: 1.2rem;
            fill: #505050;
            width: 2.2rem;
        }
    }

    &__profile {
        position: relative;
        width: 4rem;
        height: 4rem;
        border: none;
        border-radius: 50%;

        & .profile__picture {
            top: 0;
            left: 0;
            position: absolute;
            z-index: 2;
            border-radius: 50%;
            overflow: hidden;
            height: 100%;
        }

        & .profile__picture--blur {
            z-index: 1;
            filter: blur(10px);
        }
    }
}

.home {
    padding-top: 90px;
    background: rgb(56,72,87);
    background: radial-gradient(circle, rgba(56,72,87,1) 0%, rgba(32,34,38,1) 100%); 
    
    &__title {
        margin-left: 7.5rem;
        padding: 2rem 0;
        color: #fff;
        font-size: 2.5rem;
        font-weight: 700;
        font-family: 'Roboto';
    }

    &__content {
        display: flex;
        flex-direction: row;
        & .home__movies {
            display: flex;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 0 2rem;
            transition: $transition;

            & .home__movie {
                flex: 0 1 280px;
                height: 500px;
                margin: 0 1rem 2rem 1rem;
                & .movie {
                    position: relative;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    cursor: pointer;
                    transition: $transition;
                    border-radius: .5rem;
                    background: none;

                    &__rate {
                        position: absolute;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        left: 0;
                        width: 4rem;
                        top: 2rem;
                        z-index: 1;
                        background-color: rgba(0, 0, 0, 0.75);
                        
                        padding: .5rem;
                        border-radius: 0 50px 50px 0;

                        & .rate__icon {
                            fill: #fff;
                            width: 1rem;
                        }
                        
                        & .rate__score {
                            padding-left: .5rem;
                            font-size: .9rem;
                            font-family: 'Roboto';
                            font-weight: 200;
                            color: #fff;
                        }
                    }

                    &__poster {
                        position: relative;
                        border-radius: .5rem;
                        overflow: hidden;
                        position: relative;
                        height: 80%;
                        object-fit: contain;
                    }

                    &__description {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        transition: $transition;
                        height: 20%;
                        & .description__title {
                            color: #fff;
                            font-size: 1.2rem;
                            font-family: 'Roboto';
                            font-weight: 600;
                        }

                        & .description__genre {
                            margin-top: .2rem;
                            color: #4f5867;
                            font-size: .9rem;
                            font-family: 'Roboto';
                            font-weight: 400;
                        }
                    }

                    &:hover {
                        transition: $transition;
                        transform: scale(1.05);
                        background: linear-gradient(314deg, #398aca, #6836db);
                        background-size: (200%, 200%);
                        
                        animation: gradientAnimation 5s ease infinite;

                        @keyframes gradientAnimation {
                            0%{background-position:0% 50%}
                            50%{background-position:100% 50%}
                            100%{background-position:0% 50%}
                        }

                        .movie__poster {
                            border-radius: .5rem .5rem 0 0;
                        }

                        .movie__description {
                            transition: $transition;
                            transform: translateX(15px);

                            & .description__genre {
                                color: #fff;
                            }
                        }
                    }
                }
            }
            
        }

        & .home__movies--reduce {
            width: 60%;
            transition: $transition;
        }

        & .home__details {
            overflow: hidden;
            border-radius: .5rem 0 0 0 ;
            transform: translateX(100%);
            position: fixed;
            right: 0;
            width: 40%;
            min-width: 400px;
            height: 100vh;
            background-color: #0c0b10;
            z-index: 2;
            transition: $transition;

            & .description__button {
                position: absolute;
                fill: rgba(255, 255, 255, 0.75);
                
                top: 1.5rem;
                right: 1.5rem;
                cursor: pointer;

                &:after {
                    content: '';
                    display: block;
                    top: 0;
                    right: 0;
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    background-color: rgba(0, 0, 0, 0.60);
                }
            }

            & .details__illustration {
                object-fit: contain;
                position: relative;
                width: 100%;
                height: 40%;
            }

            & .details__description {
                padding: 2rem;

                & .description__title {
                    color: #fff;
                    font-size: 1.5rem;
                    font-family: 'Roboto';
                    margin-bottom: 1rem;
                    font-weight: 700;
                }

                & .description__informations {
                    font-family: 'Roboto';
                    
                    color: #8a898e;
                }

                & .description__resume {
                    margin-top: 1rem;
                    font-family: 'Roboto';
                    color: #8a898e;
                    line-height: 2;
                }
            }
        }

        & .home__details--toggle {
            transform: translateX(0%);
        }
    }
}